.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  background-color: rgb(243, 33, 114);
}
.contener {
  width: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}
.btn-corse{
    margin-left: 2rem; 
    margin-bottom: 0.5rem;
}

